template.yml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Async document extraction pipeline with Step Functions, Lambda, S3 and OpenAI.

Parameters:
  StageName:
    Type: String
    Default: dev
  DocumentsBucketName:
    Type: String
    Default: ""
    Description: Optional S3 bucket name for source documents and extraction artifacts. Leave blank to use payroll-<stage>-<account>-<region>.
  OpenAIApiKeySecretArn:
    Type: String
  OpenAIModel:
    Type: String
    Default: gpt-4.1-mini

Conditions:
  HasCustomDocumentsBucketName: !Not [!Equals [!Ref DocumentsBucketName, ""]]

Globals:
  Function:
    Runtime: python3.13
    Architectures:
      - x86_64
    MemorySize: 512
    Timeout: 30
    CodeUri: .
    Layers:
      - !Ref CommonLayer
    Environment:
      Variables:
        STAGE_NAME: !Ref StageName
        DOCUMENTS_BUCKET_NAME: !Ref DocumentsBucket
        OPENAI_API_KEY_SECRET_ARN: !Ref OpenAIApiKeySecretArn
        OPENAI_MODEL: !Ref OpenAIModel
        PROFILES_ROOT: /var/task/profiles

Resources:
  DocumentsBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !If
        - HasCustomDocumentsBucketName
        - !Ref DocumentsBucketName
        - !Sub "payroll-${StageName}-${AWS::AccountId}-${AWS::Region}"
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256

  ExtractionApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName: !Ref StageName
      Cors:
        AllowMethods: "'POST,OPTIONS'"
        AllowHeaders: "'Content-Type,Authorization'"
        AllowOrigin: "'*'"

  CommonLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Sub "${AWS::StackName}-common"
      ContentUri: layers/common
      CompatibleRuntimes:
        - python3.13
      RetentionPolicy: Delete

  SubmitExtractionFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.submit_extraction.app.lambda_handler
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref DocumentExtractionStateMachine
      Policies:
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket
        - Statement:
            - Effect: Allow
              Action:
                - states:StartExecution
              Resource: !Ref DocumentExtractionStateMachine
      Events:
        SubmitExtraction:
          Type: Api
          Properties:
            RestApiId: !Ref ExtractionApi
            Path: /extractions
            Method: post

  FetchDocumentFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.fetch_document.app.lambda_handler
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref DocumentsBucket
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  ExtractPdfTextFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.extract_pdf_text.app.lambda_handler
      Timeout: 120
      MemorySize: 1024
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref DocumentsBucket
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  ExtractXlsxTextFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.extract_xlsx_text.app.lambda_handler
      Timeout: 120
      MemorySize: 1024
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref DocumentsBucket
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  ExtractCsvTextFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.extract_csv_text.app.lambda_handler
      Timeout: 120
      MemorySize: 1024
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref DocumentsBucket
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  ExtractDocxTextFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.extract_docx_text.app.lambda_handler
      Timeout: 120
      MemorySize: 1024
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref DocumentsBucket
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  LoadExtractionProfileFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.load_extraction_profile.app.lambda_handler

  RunLlmExtractionFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.run_llm_extraction.app.lambda_handler
      Timeout: 120
      MemorySize: 1024
      Policies:
        - S3ReadPolicy:
            BucketName: !Ref DocumentsBucket
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket
        - Statement:
            - Effect: Allow
              Action:
                - secretsmanager:GetSecretValue
              Resource: !Ref OpenAIApiKeySecretArn

  ValidateSchemaFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.validate_schema.app.lambda_handler

  PersistResultFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.persist_result.app.lambda_handler
      Policies:
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  PersistFailureFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      Handler: functions.persist_failure.app.lambda_handler
      Policies:
        - S3WritePolicy:
            BucketName: !Ref DocumentsBucket

  DocumentExtractionStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "${AWS::StackName}-document-extraction"
      Type: STANDARD
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref FetchDocumentFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref ExtractPdfTextFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref ExtractXlsxTextFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref ExtractCsvTextFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref ExtractDocxTextFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref LoadExtractionProfileFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref RunLlmExtractionFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref ValidateSchemaFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref PersistResultFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref PersistFailureFunction
      Definition:
        Comment: Async document extraction pipeline (multi-format via Choice routing)
        StartAt: FetchDocument
        States:
          FetchDocument:
            Type: Task
            Resource: !GetAtt FetchDocumentFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: RouteByFormat
          RouteByFormat:
            Type: Choice
            Choices:
              - Variable: $.document_format
                StringEquals: pdf
                Next: ExtractPdfText
              - Variable: $.document_format
                StringEquals: xlsx
                Next: ExtractXlsxText
              - Variable: $.document_format
                StringEquals: csv
                Next: ExtractCsvText
              - Variable: $.document_format
                StringEquals: docx
                Next: ExtractDocxText
            Default: UnsupportedFormat
          UnsupportedFormat:
            Type: Pass
            Parameters:
              Error: UnsupportedDocumentFormat
              Cause.$: "States.Format('Unsupported document format: {}', $.document_format)"
            ResultPath: $.error
            Next: PersistFailure
          ExtractPdfText:
            Type: Task
            Resource: !GetAtt ExtractPdfTextFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: LoadExtractionProfile
          ExtractXlsxText:
            Type: Task
            Resource: !GetAtt ExtractXlsxTextFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: LoadExtractionProfile
          ExtractCsvText:
            Type: Task
            Resource: !GetAtt ExtractCsvTextFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: LoadExtractionProfile
          ExtractDocxText:
            Type: Task
            Resource: !GetAtt ExtractDocxTextFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: LoadExtractionProfile
          LoadExtractionProfile:
            Type: Task
            Resource: !GetAtt LoadExtractionProfileFunction.Arn
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: RunLlmExtraction
          RunLlmExtraction:
            Type: Task
            Resource: !GetAtt RunLlmExtractionFunction.Arn
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 3
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: ValidateSchema
          ValidateSchema:
            Type: Task
            Resource: !GetAtt ValidateSchemaFunction.Arn
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: PersistFailure
            Next: PersistResult
          PersistResult:
            Type: Task
            Resource: !GetAtt PersistResultFunction.Arn
            End: true
          PersistFailure:
            Type: Task
            Resource: !GetAtt PersistFailureFunction.Arn
            End: true

Outputs:
  ExtractionApiUrl:
    Description: Extraction API endpoint
    Value: !Sub "https://${ExtractionApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}/extractions"
  StateMachineArn:
    Description: Document extraction state machine ARN
    Value: !Ref DocumentExtractionStateMachine
  DocumentsBucketName:
    Description: Bucket created for source documents and extraction artifacts
    Value: !Ref DocumentsBucket
  PayrollFixturesPrefix:
    Description: S3 prefix used by Jenkins to upload payroll fixtures
    Value: datasets/fixtures/payroll/
